*~
*.pyc
*.swp
*#
.metadata
.DS_Store
*.log
venv
migrations
.idea/JEI.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
TODO.md
__pycache__/
static/Food_splash_screen_orig.jpg
static/audio/
templates/base.html
test/.ipynb_checkpoints/
test/JEI/
