<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>Just Eat It</title>
</head>
<body>
{#
<audio loop autoplay volume="0.8">
    <source src="static/audio/JEI.m4a" type="audio/mp4">
    Your browser does not support this audio format.
</audio>
#}
<p>
    <a href="/search_recipe">
        <img border="0" alt="Just Eat It ..." src="./static/Food_splash_screen_JEI1.jpg" class="img-responsive"
             alt="Responsive image">
    </a>
</p>
</body>
</html>